//
// Root
//

html {
  font-family: sans-serif;
  text-size-adjust: 100%;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $root-font-size !important;
    font-weight: $font-weight-base;
    font-family: $font-family-sans-serif;

    // Tablet mode
    @include media-breakpoint-down(lg) {
        font-size: $root-font-size-lg !important;
    }

    // Mobile mode
    @include media-breakpoint-down(md) {
        font-size: $root-font-size-md !important;
    }    
}

body {
    display: flex;
    flex-direction: column;

    a:hover,
    a:active,
    a:focus {
        text-decoration: none !important;
    }

    

    .btn-comn-all {
        border-radius: 10px;
        color: #ffffff;
        border: 1px solid #060640;
        outline: none;
        padding: 11px 25px;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
        display: inline-block;
        background-color: #060640;
        transition: all 0.3s;
        cursor: pointer;
    }
    
    .btn-comn-all:hover {
        background-color: #fe2e89;
        border-color: #fe2e89;
    }
}

canvas {
    user-select: none;
}

// Angular integration
router-outlet {
    display: none;
}